@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

.background-image {
  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.content {
  // background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  top: -20px;
  left: 0;
  position: fixed;
  margin-left: 20px;
  margin-right: 20px;
  right: 0;
  z-index: 2;
  padding: 0 10px;
}

body {
  @include font-smoothing(on);
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  // background-image: url('https://wallpaperscraft.com/image/new_york_city_street_traffic_people_cars_buildings_47942_3840x2160.jpg');
  // background-size: contain;

}

a {
  text-decoration: none;
  list-style-type: none;
  color: #00ASCC;
}

html, body {
    height: 100%;
}
body {

}

@import url(https://fonts.googleapis.com/css?family=Raleway);
.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px 8px;
  top: 100px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1584 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
  flex: 1;
  align-content: center;
  flex-direction: column;
  display: flex;
}
.snip1584 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1em;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1584 h3,
.snip1584 h5 {
  margin: 0;
  opacity: 0;
  align-items: center;
  letter-spacing: 1px;
}
.snip1584 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.snip1584 h5 {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h3,
.snip1584.hover h3,
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h3,
.snip1584.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

body {
  background-color: #212121;
  text-align: center;
}

#image {
  align-items: center;
  align-content: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#navbar {
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

#footer {
  background-color: black;
  padding: 30px;
  position: relative;
  top: 800px;
  overflow: visible;
}

#dew {
  margin-bottom: 25px;
}
#thanks {
  color: white;
  position: relative;
  top: 250px;
  overflow: visible;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  transition: transform 1s ease-in-out;
    :hover {
      transform: scale(1.1);
      transition: transform 1s ease-in-out;

    }
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;

}

header {
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
  margin: auto;
  height: 50px;
  list-style-type: none;
  border-bottom: 1px solid #EEE;
}

#brand {
  float: left;
  line-height: 50px;
  color: #E5DAC0;
  font-size: 25px;
  font-weight: bolder;
}

nav {
  flex: 1;
  flex-direction: row;
  display: flex;
  text-decoration: none;
  float: left;
  width: 100%;
  text-align: center;
    a {
      display: block;
      padding: 15px 0;
      border-bottom: 1px solid #C3AA6E;
      color: #F0EADC;
    }
}

nav li:last-child a {
  border-bottom: none;
}

nav a :hover {
  background: #E5DAC0; color: #FFF;
}

.menu {
  width: 240px;
  height: 100%;
  position: absolute;
  background: #D9C9A3;
  left: -260px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;

}

.menu-icon {
  padding: 10px 20px;
  background: #E5DAC0; color: #987D3E;
  cursor: pointer;
  float: right;
  overflow: visible;
  z-index: 1;
  position: relative;
  margin-top: 4px;
  border-radius: 5px;
}

#menuToggle {
  display: none;
  z-index: 1;
  position: relative;
}

#menuToggle:checked ~ .menu {
  position: absolute;
  left: 0;
  z-index: 1;
  position: relative;
}
